MATCH (a:MergedNode)-[r:VERB2 {text:"has cause"}]-(b:MergedNode)
with collect(a) as list1,collect(b) as list2
UNWIND list1 as a
UNWIND list2 as b
RETURN ID(a),ID(b),a.text,b.text,gds.alpha.linkprediction.adamicAdar(a, b) AS score ORDER BY score DESC

In [50]:
from neomodel import db, config, StructuredNode, RelationshipTo, RelationshipFrom

# Neomodel connection
config.DATABASE_NAME = 'version1'
db.set_connection(url='bolt://neo4j:12345678@localhost:7687')

In [90]:
results, meta = db.cypher_query("""MATCH (a:MergedNode)-[r:VERB2 {text:"has cause"}]-(b:MergedNode)
with collect(a) as list1,collect(b) as list2
UNWIND list1 as a
UNWIND list2 as b
RETURN ID(a),ID(b),a.text,b.text,gds.alpha.linkprediction.adamicAdar(a, b) AS score ORDER BY score DESC""")

In [91]:
import pandas as pd

In [92]:
results_df = pd.DataFrame(results,columns=meta)
results_df = results_df.loc[(results_df['ID(a)'] != results_df['ID(b)']) & (results_df['ID(a)'] < results_df['ID(b)'])]

In [93]:
results, meta = db.cypher_query("""MATCH (a:MergedNode)-[r:VERB2 {text:"has cause"}]-(b:MergedNode) RETURN ID(a),ID(b),a.text,b.text""")

In [94]:
existing_pairs_df = pd.DataFrame(results,columns=meta)
existing_pairs_df

     ID(a)   ID(b)                        a.text                        b.text
0   144263  144193          pain catastrophizing  Cognitive-behavioral therapy
1   144193  144263  Cognitive-behavioral therapy          pain catastrophizing
2   144851  144225         pain-related distress                          pain
3   144225  144851                          pain         pain-related distress
4   144851  144225         pain-related distress                          pain
..     ...     ...                           ...                           ...
81  145349  144225                   expectation                          pain
82  145410  145411                      recovery           physical activities
83  145411  145410           physical activities                      recovery
84  144225  145417                          pain           depressive symptoms
85  145417  144225           depressive symptoms                          pain

[86 rows x 4 columns]

In [95]:
results_df.set_index(['ID(a)','ID(b)'])

                                                  a.text              b.text  \
ID(a)  ID(b)
144193 144238               Cognitive-behavioral therapy   pain interference
       144238               Cognitive-behavioral therapy   pain interference
       144238               Cognitive-behavioral therapy   pain interference
       144238               Cognitive-behavioral therapy   pain interference
144967 145247  difficulty in performing daily activities   muscle activation
...                                                  ...                 ...
144225 145247                                       pain   muscle activation
       144360                                       pain  Behavioral therapy
       144485                                       pain         improvement
       144416                                       pain      post-treatment
       144234                                       pain      pain intensity

                  score
ID(a)  ID(b)
144193 144238  0.389871
       144238  0.389871
       144238  0.389871
       144238  0.389871
144967 145247  0.378923
...                 ...
144225 145247  0.000000
       144360  0.000000
       144485  0.000000
       144416  0.000000
       144234  0.000000

[3519 rows x 3 columns]

In [96]:
new_results = results_df.set_index(['ID(a)','ID(b)']).drop(existing_pairs_df[['ID(a)','ID(b)']])
new_results = new_results.drop(existing_pairs_df[['ID(b)','ID(a)']]) # just in case
results_df.shape,new_results.shape

((3519, 5), (3519, 3))

In [97]:
sum(new_results['score']>0)

196

In [98]:
new_results_no_dups = new_results.drop_duplicates()

In [99]:
sum(new_results_no_dups['score']>0)

77

In [100]:
all_results = {}
all_results['AA'] = new_results_no_dups

In [101]:
top_20 = new_results_no_dups.loc[new_results_no_dups['score']>0].iloc[:20]

In [102]:
print(top_20.to_latex(index=False))

\begin{tabular}{llr}
\toprule
a.text & b.text & score \\
\midrule
Cognitive-behavioral therapy & pain interference & 0.389871 \\
difficulty in performing daily activities & muscle activation & 0.378923 \\
pain catastrophizing & cognitive process & 0.296974 \\
pain intensity & pain catastrophizing & 0.296974 \\
pain intensity & pretreatment & 0.296974 \\
pain intensity & cognitive process & 0.296974 \\
pretreatment & pain catastrophizing & 0.296974 \\
pretreatment & cognitive process & 0.296974 \\
treatment epoch & pretreatment & 0.249543 \\
treatment epoch & post-treatment & 0.249543 \\
treatment epoch & BIO treatment condition & 0.249543 \\
treatment epoch & body image disruption & 0.249543 \\
treatment epoch & cognitive improvements & 0.249543 \\
treatment epoch & neuromuscular activation & 0.249543 \\
pain interference & BIO treatment condition & 0.249543 \\
pain interference & body image disruption & 0.249543 \\
pain interference & cognitive improvements & 0.249543 \\
pain interference & neuromuscular activation & 0.249543 \\
pretreatment & cognitive improvements & 0.249543 \\
pretreatment & neuromuscular activation & 0.249543 \\
\bottomrule
\end{tabular}

In [103]:
results, meta = db.cypher_query("""MATCH (a:MergedNode)-[r:VERB2 {text:"has cause"}]-(b:MergedNode)
with collect(a) as list1,collect(b) as list2
UNWIND list1 as a
UNWIND list2 as b
RETURN ID(a),ID(b),a.text,b.text,gds.alpha.linkprediction.preferentialAttachment(a, b) AS score ORDER BY score DESC""")

In [104]:
meta

['ID(a)', 'ID(b)', 'a.text', 'b.text', 'score']

In [105]:
results_df = pd.DataFrame(results,columns=meta)
results_df = results_df.loc[(results_df['ID(a)'] != results_df['ID(b)']) & (results_df['ID(a)'] < results_df['ID(b)'])]

In [106]:
results_df.head()

      ID(a)   ID(b)                        a.text b.text    score
199  144193  144225  Cognitive-behavioral therapy   pain  11832.0
200  144193  144225  Cognitive-behavioral therapy   pain  11832.0
201  144193  144225  Cognitive-behavioral therapy   pain  11832.0
202  144193  144225  Cognitive-behavioral therapy   pain  11832.0
203  144193  144225  Cognitive-behavioral therapy   pain  11832.0

In [107]:
results, meta = db.cypher_query("""MATCH (a:MergedNode)-[r:VERB2 {text:"has cause"}]-(b:MergedNode) RETURN ID(a),ID(b),a.text,b.text""")
existing_pairs_df = pd.DataFrame(results,columns=meta)
new_results = results_df.set_index(['ID(a)','ID(b)']).drop(existing_pairs_df[['ID(a)','ID(b)']])
new_results = new_results.drop(existing_pairs_df[['ID(b)','ID(a)']]) # just in case
results_df.shape,new_results.shape
new_results_no_dups = new_results.drop_duplicates()
top_20 = new_results_no_dups.loc[new_results_no_dups['score']>0].iloc[:20]
print(top_20.to_latex(index=False))

\begin{tabular}{llr}
\toprule
a.text & b.text & score \\
\midrule
Cognitive-behavioral therapy & pain & 11832.000000 \\
pain & pain intensity & 6380.000000 \\
Cognitive-behavioral therapy & pain intensity & 5610.000000 \\
pain & pain interference & 3364.000000 \\
pain & Chronic pain & 3364.000000 \\
Cognitive-behavioral therapy & Chronic pain & 2958.000000 \\
Cognitive-behavioral therapy & pain interference & 2958.000000 \\
pain & pain-related distress & 1624.000000 \\
pain & Pain & 1624.000000 \\
pain intensity & pain interference & 1595.000000 \\
pain intensity & Chronic pain & 1595.000000 \\
pain & pain catastrophizing & 1508.000000 \\
Cognitive-behavioral therapy & pain-related distress & 1428.000000 \\
Cognitive-behavioral therapy & Pain & 1428.000000 \\
pain & treatment & 1392.000000 \\
Cognitive-behavioral therapy & pain catastrophizing & 1326.000000 \\
Cognitive-behavioral therapy & treatment & 1224.000000 \\
pain interference & Chronic pain & 841.000000 \\
pain intensity & pain-related distress & 770.000000 \\
pain intensity & Pain & 770.000000 \\
\bottomrule
\end{tabular}

In [108]:
all_results['pref'] = new_results_no_dups

In [109]:
results, meta = db.cypher_query("""MATCH (a:MergedNode)-[r:VERB2 {text:"has cause"}]-(b:MergedNode)
with collect(a) as list1,collect(b) as list2
UNWIND list1 as a
UNWIND list2 as b
RETURN ID(a),ID(b),a.text,b.text,gds.alpha.linkprediction.totalNeighbors(a, b) AS score ORDER BY score DESC""")

In [110]:
results_df = pd.DataFrame(results,columns=meta)
results_df = results_df.loc[(results_df['ID(a)'] != results_df['ID(b)']) & (results_df['ID(a)'] < results_df['ID(b)'])]

In [111]:
results, meta = db.cypher_query("""MATCH (a:MergedNode)-[r:VERB2 {text:"has cause"}]-(b:MergedNode) RETURN ID(a),ID(b),a.text,b.text""")
existing_pairs_df = pd.DataFrame(results,columns=meta)
new_results = results_df.set_index(['ID(a)','ID(b)']).drop(existing_pairs_df[['ID(a)','ID(b)']])
new_results = new_results.drop(existing_pairs_df[['ID(b)','ID(a)']]) # just in case
results_df.shape,new_results.shape
new_results_no_dups = new_results.drop_duplicates()
top_20 = new_results_no_dups.loc[new_results_no_dups['score']>0].iloc[:20]
print(top_20.to_latex(index=False))

\begin{tabular}{llr}
\toprule
a.text & b.text & score \\
\midrule
Cognitive-behavioral therapy & pain & 215.000000 \\
pain & pain intensity & 165.000000 \\
Cognitive-behavioral therapy & pain intensity & 154.000000 \\
pain & Chronic pain & 142.000000 \\
pain & pain interference & 140.000000 \\
Cognitive-behavioral therapy & Chronic pain & 131.000000 \\
Cognitive-behavioral therapy & pain interference & 128.000000 \\
pain & Pain & 127.000000 \\
pain & pain catastrophizing & 126.000000 \\
pain & pain-related distress & 124.000000 \\
pain & treatment & 124.000000 \\
pain & Behavioral therapy & 119.000000 \\
pain & decrease in depressive symptoms & 117.000000 \\
pain & positive changes & 116.000000 \\
pain & cognitive process & 116.000000 \\
pain & BIO treatment condition & 116.000000 \\
pain & pain-related behaviors & 116.000000 \\
pain & pain symptoms & 116.000000 \\
pain & body image disruption & 116.000000 \\
Cognitive-behavioral therapy & Pain & 116.000000 \\
\bottomrule
\end{tabular}

In [112]:
all_results['nn'] = new_results_no_dups

In [113]:
all_results['AA'].shape

(1128, 3)

In [114]:
all_results['pref'].shape

(1117, 3)

In [115]:
all_results['nn'].shape

(1128, 3)

In [116]:
all_results['AA'].head()

                                                  a.text  \
ID(a)  ID(b)
144193 144238               Cognitive-behavioral therapy
144967 145247  difficulty in performing daily activities
144263 144699                       pain catastrophizing
144234 144263                             pain intensity
       144239                             pain intensity

                             b.text     score
ID(a)  ID(b)
144193 144238     pain interference  0.389871
144967 145247     muscle activation  0.378923
144263 144699     cognitive process  0.296974
144234 144263  pain catastrophizing  0.296974
       144239          pretreatment  0.296974

In [117]:
aa_score = all_results['AA']['score']
aa_score.name = 'AA_score'

In [118]:
pref_score = all_results['pref']['score']
pref_score.name = 'pref_score'

In [119]:
nn_score = all_results['nn']['score']
nn_score.name = 'nn_score'

In [124]:
together = pd.concat((aa_score,pref_score,nn_score),axis=1).dropna()
together

               AA_score  pref_score  nn_score
ID(a)  ID(b)
144193 144238  0.389871      2958.0     128.0
144967 145247  0.378923         4.0       3.0
144263 144699  0.296974        52.0      15.0
144234 144263  0.296974       715.0      64.0
       144699  0.296974       220.0      54.0
...                 ...         ...       ...
144320 145044  0.000000         4.0       4.0
       145091  0.000000         4.0       4.0
144253 144263  0.000000        26.0      15.0
145350 145411  0.000000         4.0       4.0
       145410  0.000000         4.0       4.0

[1001 rows x 3 columns]

In [131]:
nn_score

ID(a)   ID(b)
144193  144225    215.0
144225  144234    165.0
144193  144234    154.0
144225  144677    142.0
        144238    140.0
                  ...
144253  144320      3.0
145140  145350      3.0
        145240      3.0
        145349      3.0
        145417      3.0
Name: nn_score, Length: 1128, dtype: float64

In [130]:
len(nn_score)

1128

In [125]:
import scipy.stats as stats
aa_pref_tau, aa_pref_p_value = stats.kendalltau(together['AA_score'], together['pref_score'])
aa_pref_tau

-0.05358387220277812

In [128]:
aa_pref_p_value

0.0

In [126]:
aa_pref_tau, aa_pref_p_value = stats.kendalltau(together['AA_score'], together['nn_score'])
aa_pref_tau

-0.16544013639464636

In [127]:
aa_pref_tau, aa_pref_p_value = stats.kendalltau(together['pref_score'], together['nn_score'])
aa_pref_tau

0.9422717867164249

In [121]:
(pd.concat((aa_score,pref_score,nn_score),axis=1).isna()==False).sum()

AA_score      1128
pref_score    1117
nn_score      1128
dtype: int64

In [122]:
pd.concat((aa_score,pref_score,nn_score),axis=1)

               AA_score  pref_score  nn_score
ID(a)  ID(b)
144193 144238  0.389871      2958.0     128.0
144967 145247  0.378923         4.0       3.0
144263 144699  0.296974        52.0      15.0
144234 144263  0.296974       715.0      64.0
       144239  0.296974         NaN      53.0
...                 ...         ...       ...
144789 145140       NaN         NaN       3.0
       145240       NaN         NaN       3.0
       145349       NaN         NaN       3.0
       145417       NaN         NaN       3.0
144535 144687       NaN         NaN       3.0

[1294 rows x 3 columns]

In [132]:
sum(aa_score>0)

77

In [133]:
sum(aa_score!=0)

77